# ⚠️ Copier ce fichier en .env avant de lancer le projet - les variables d'environnement seront utilisées par Docker et SpringBoot ⚠️
# ⚠️ Les variables sont visible uniquement car ce projet ne sera pas mis en production ⚠️
# ⚠️ Mais il est important de ne pas commiter de secrets dans un projet qui sera mis en production ⚠️

# Configuration Docker - CandidaTrace

# MySQL Configuration
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=candidatrace_db
MYSQL_USER=candidatrace_user
MYSQL_PASSWORD=candidatrace_password

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/candidatrace_db
SPRING_DATASOURCE_USERNAME=candidatrace_user
SPRING_DATASOURCE_PASSWORD=candidatrace_password
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false

# Angular Configuration
ANGULAR_API_URL=http://localhost:8080/api

# Ports
MYSQL_PORT=3306
SERVER_PORT=8080
CLIENT_PORT=4200
