$Black : rgb(15, 15, 15);
$White : rgb(240, 240, 240);
$Yellow : rgb(255, 196, 50);
$Red : rgb(199, 18, 18);
$Blue : rgb(26, 28, 93);
$Turquoise : rgb(0, 173, 121);
$Darked : rgba(15, 15, 15, 0.5);
$DarkedLight : rgba(15, 15, 15, 0.2);

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 600;
    text-transform: capitalize;
}

// Page d'accueil

.home {
    position: relative;
    width: 360px;
    height: 100vh;
    margin: auto;
    background-color: $Turquoise;

    h2 {
        position: absolute;
        color: $White ;
        top: 50%;
        left: 10%;
    }

    a {
        position: absolute;
        color: $White ;
        top: 60%;
        left: 10%;
        border-radius: 50px;
        border: 1px solid $White;
        padding: 10px 25px;
    }
}


// Dashboard

section {
    width: 360px;
    margin: auto;
    margin-bottom: 50px;

    h2 {
        text-align: center;
        color: $Turquoise ;
    }
    h3 {
        text-align: center;
        color: $Blue;
        margin: 50px 0;
    }

    .link-home {
        width: 110px;
        height: 40px;
        line-height: 40px;
        margin: 50px auto;
        color: $Turquoise ;
        text-align: center;
        border-radius: 50px;
        border: 1px solid $Turquoise;
    }

    .dashboard-p {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }

    .profilePic {
        display: block;
        margin:  25px auto;
        width: 150px;
    }
}

// Profil

.profil-form {
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 0 0 10px 20px;
        color: $Turquoise;
        font-weight: 600;
    }

    input {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }
    .disabled-input {
        background-color: transparent;
        color: $Black;
    }
        
    button {
        width: 110px;
        height: 40px;
        margin: auto;
        color: $Turquoise;
        background-color: transparent;
        border: 1px solid $Turquoise;
        border-radius: 50px;
    }

    button:hover {
        color: $White;
        background-color: $Turquoise;
        border: none;
        border-radius: 50px;
    }


    .action-btn {
        color: $White;
        background-color: $Blue;
        border: none;
        margin-bottom: 25px;
    }
    
    .turquoise{
        background-color: $Turquoise;
    }

    p {  
        text-align: center;
    }

    .green-msg {
        color: $Turquoise;
        margin-bottom: 25px;
    }
    .red-msg {
        color: $Red;
        margin-bottom: 25px;
    }
  
}