@font-face {
    font-family: "FashionFetishSmallCap";
    src: url("../assets/fonts/FashionFetish-SmallCaps.ttf");
}

@font-face {
    font-family: "FashionFetish";
    src: url("../assets/fonts/FashionFetish-Regular.ttf");
}

@font-face {
    font-family: "FashionFetishBold";
    src: url("../assets/fonts/FashionFetish-Bold.ttf");
}


$Black : rgb(15, 15, 15);
$White : rgb(240, 240, 240);
$Yellow : rgb(255, 196, 50);
$Red : rgb(199, 18, 18);
$LightRed : rgb(255, 157, 157);
$Blue : rgb(26, 28, 93);
$LightBlue : rgb(152, 205, 255);
$Turquoise : rgb(0, 173, 121);
$LightTurquoise : rgb(156, 240, 216);
$Darked : rgba(15, 15, 15, 0.5);
$DarkedLight : rgba(15, 15, 15, 0.2);
$title : "FashionFetishSmallCap";
$text : "FashionFetish";
$textBold : "FashionFetishBold";

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: $text;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: $title;
}

button {
    width: fit-content;
    height: 40px;
    margin: auto;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    font-family: $text;
    font-size: 12px;
}

// Page d'accueil

.home {
    position: relative;
    width: 360px;
    height: 100vh;
    margin: auto;
    background-color: $Turquoise;

    h2 {
        position: absolute;
        color: $White ;
        top: 50%;
        left: 10%;
    }

    a {
        position: absolute;
        color: $White;
        top: 60%;
        left: 10%;
        height: 45px;
        line-height: 30px;
        border-radius: 50px;
        border: 1px solid $White;
        padding: 5px 20px;
    }
    a:hover {
        background-color: $White;
        color: $Turquoise;
    }
}

section {
    width: 360px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        color: $Turquoise ;
    }

    h3 {
        text-align: center;
        color: $Blue;
        margin: 50px 0;
    }

    .dashboard-p {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }

    .profilePic {
        display: block;
        margin: 25px auto;
        width: 150px;
    }
}


// Profil Formulaires

.profil-form {
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 0 0 10px 20px;
        color: $Turquoise;
    }

    input, select {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }

    input::placeholder {
        font-family: $text;
        text-transform: lowercase;
    }

    .disabled-input {
        background-color: transparent;
        color: $Black;
    }

    .confirm-btn {
        color: $White;
        background-color: $Blue;
        border: none;
        margin-bottom: 25px;
    }

    .red-altert {
        margin: auto;
        color: $Red;
        border-radius: 50px;
        border: 1px solid $Red;
        cursor: pointer;
    }

    .red-altert:hover {
        background-color: $Red;
        color: $White;
    }

    .delete-btn {
        margin-top: 25px;
    }

    .cancel-btn {
        color: $White;
        background-color: $Red;
    }

    p {
        text-align: center;
    }

    .green-msg {
        font-size: 14px;
        color: $Turquoise;
        margin-bottom: 25px;
    }

    .red-msg {
        font-size: 14px;
        color: $Red;
        margin-bottom: 25px;
    }
}

// SigIn & SignUp

.logs-sections {

    .logs-sections-h2 {
        margin-bottom: 25px;
    }

    .signin,
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 25px;

        h3 {
            margin-top: 0;
            margin-bottom: 25px;
        }

        form {
            margin: 0 auto;
        }

        .switch-in-up {
            width: fit-content;
            margin: 5px 0;
            background-color: transparent;
            border: none;
            font-size: 12px;
        }
    }

    .signin {
        background-color: $Blue;

        h3 {
            color: $White;
        }

        .switch-in-up {
            color: $White;
        }

        .confirm-btn {
            background-color: $Yellow;
            color: $Blue;
        }
    }

    .signup {
        background-color: $Yellow;
    }
}

// Applications

.application-section {
    align-items: center;
        width: 360px;

    .new-application {
        margin: 25px 0;
        background-color: $Yellow;
    }

    .application {
        position: relative;
        width: 324px; // -10% de 360 -> 90% ne marche pas
        border-radius: 10px;
        margin-bottom: 25px;
        padding: 25px;

        p {
            font-size: 14px;
            margin: 0 0 10px 0;
        }
    }
    .company_name {
        font-family: $textBold;
        text-transform: uppercase;
    }
    .application_link {
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 25px;
        margin: 0;
    }
    .wait {
        background-color: $LightBlue;
    }
    .yes {
        background-color: $LightTurquoise;
    }
    .no {
        background-color: $LightRed;
    }
    .chevron {
        text-align: center;
    }
}








/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */