@font-face {
    font-family: "FashionFetishSmallCap";
    src: url("../assets/fonts/FashionFetish-SmallCaps.ttf");
}

@font-face {
    font-family: "FashionFetish";
    src: url("../assets/fonts/FashionFetish-Regular.ttf");
}

@font-face {
    font-family: "FashionFetishBold";
    src: url("../assets/fonts/FashionFetish-Bold.ttf");
}


$Black : rgb(15, 15, 15);
$White : rgb(240, 240, 240);
$Yellow : rgb(255, 196, 50);
$Red : rgb(199, 18, 18);
$Blue : rgb(26, 28, 93);
$Turquoise : rgb(0, 173, 121);
$Darked : rgba(15, 15, 15, 0.5);
$DarkedLight : rgba(15, 15, 15, 0.2);
$title : "FashionFetishSmallCap";
$text : "FashionFetish";
$textBold : "FashionFetishBold";

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: $text;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: $title;
}

// Page d'accueil

.home {
    position: relative;
    width: 360px;
    height: 100vh;
    margin: auto;
    background-color: $Turquoise;

    h2 {
        position: absolute;
        color: $White ;
        top: 50%;
        left: 10%;
    }

    a {
        position: absolute;
        color: $White ;
        top: 60%;
        left: 10%;
        border-radius: 50px;
        border: 1px solid $White;
        padding: 10px 25px;
    }
}


// Dashboard

section {
    width: 360px;
    margin: auto;
    margin-bottom: 50px;

    h2 {
        text-align: center;
        color: $Turquoise ;
    }

    h3 {
        text-align: center;
        color: $Blue;
        margin: 50px 0;
    }

    .link-home {
        width: 110px;
        height: 40px;
        line-height: 40px;
        margin: 50px auto;
        color: $Turquoise ;
        text-align: center;
        border-radius: 50px;
        border: 1px solid $Turquoise;
    }

    .dashboard-p {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }

    .profilePic {
        display: block;
        margin: 25px auto;
        width: 150px;
    }
}


// Profil

.profil-form {
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 0 0 10px 20px;
        color: $Turquoise;
    }

    input {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $White;
    }

    input::placeholder {
        font-family: $text;
        text-transform: lowercase;
    }

    .disabled-input {
        background-color: transparent;
        color: $Black;
    }

    button {
        width: 110px;
        height: 40px;
        margin: auto;
        color: $Turquoise;
        background-color: transparent;
        border: 1px solid $Turquoise;
        border-radius: 50px;
    }

    button:hover {
        color: $White;
        background-color: $Turquoise;
        border: none;
        border-radius: 50px;
    }

    .action-btn {
        width: fit-content;
        font-family: $text;
        color: $White;
        background-color: $Blue;
        border: none;
        margin-bottom: 25px;
        padding: 5px 20px;
    }

    .action-btn:hover {
        transform: scale(1.02);
    }

    .signin {
        color: $Black;
        background-color: $Yellow;
    }

/*     .signin:hover {
        color: $White;
        background-color: $Blue;
    } */

    .red-altert {
        width: 110px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin: auto;
        color: $Red;
        border-radius: 50px;
        border: 1px solid $Red;
        cursor: pointer;
    }

    .red-altert:hover {
        background-color: $Red;
        color: $White;
    }

    .delete-btn {
        width: 220px;
        margin-top: 25px;
    }

    .cancel-btn {
        color: $White;
        background-color: $Red;
    }

    p {
        text-align: center;
    }

    .green-msg {
        color: $Turquoise;
        margin-bottom: 25px;
    }

    .red-msg {
        color: $Red;
        margin-bottom: 25px;
    }

}

// SigIn & SignUp

.signin-up-h2 {
    margin-bottom: 25px;
}

.signin-article,
.signup-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 25px;

    h3 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    form {
        margin: 0 auto;
    }

    .switch-in-up {
        margin: 5px 0;
        background-color: transparent;
        border: none;
        width: fit-content;
    }
    .switch-in-up:hover {
        background-color: transparent;
    }
    .btn {
        width: fit-content;
        height: 40px;
        border-radius: 50px;
        padding: 5px 20px;
    }

}

.signin-article {
    background-color: $Blue;

    h3 {
        color: $White;
    }
    
    .switch-in-up {
        color: $White;
    }
    .btn {
        border: 1px solid $White;
    }
}

.signup-article {
    background-color: $Yellow;
    
    .btn {
        border: 1px solid $Black;
    }
}









/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */